/****** 投稿一覧画面 ******/
.articles-index{
	margin: 20px 25px;
	display: flex;

	.side-menu{
		display: none;
	}
	.articles-index-body{
		margin: 5px 0px;
	}
}


/****** 投稿レイアウト ******/
.article-body{
  margin: 10px auto;
	background-color: #fdffff;
}
