/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

/****** 変数 ******/
$update-button-color: #6E85B2;
$cancel-button-color: #C8C6C6;
$delete-button-color: #c71111;
$font-family: 'Noto Sans JP', sans-serif;


/****** ページ共通 ******/
body{
	background-color: #fdffff;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/****** フォントサイズ ******/
.font-sm {
  font-size: 12px;
	letter-spacing: 1px;
	line-height: 16px;
	font-family: $font-family;
}
.font-md {
  font-size: 14px;
	letter-spacing: 1px;
	line-height: 20px;
	font-family: $font-family;
}
.font-lr {
  font-size: 16px;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: $font-family;
}
.font-lg {
  font-size: 18px;
	letter-spacing: 1px;
	line-height: 28px;
	font-family: $font-family;
}


/****** navbar ******/
.navbar{
	background-color: #58585c;

	.dropdown-menu{
		border: 1px solid #000;
		text-align: center;
	}
}


/****** ヘッダータブ ******/
.news-tabs{
		background-color: #D8D3CD;
    color: #5d627b;
    border-top: solid 5px #616daa;
		border-bottom: solid 1px #000;
		border-right: solid 1px #000;
		margin: 0px;

	&__text{
			font-size: 9px;
			line-height: 13px;
			color: #000000;
			}

	&__icon{
				font-size: 15px;
				letter-spacing: 1px;
				margin: 2px auto;
			}
}


/****** ログイン画面 ******/
.logo-body{
	display: flex;
	justify-content: center;
	background-color: #99C2EC;
	margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

	&__img{
		width: 70%;
		height: 70%;
		margin: 30px auto;
	}
}

.login-header-body{
	text-align: center;
	height: 54px;
	background-color: #1B6DC1;
	margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

	&__title{
		color: #000;
		font-weight: 900;
		padding-top: 11px;
	}
}

.login-body{
	text-align: center;
	margin: 0px auto;
	padding: 10px 20px;
	box-shadow: none;
	border: none;
	background-color: #fdffff;
	max-width: 300px;

		&__item{
			margin: 10px 0px 0px;
		}

		&__form{
			margin: 0px;
		}

		&__form-content{
				width: 250px;
				margin: 10px 0px;
				padding: 5px 2px;
		}

		.password-setting-link{
			margin: 10px auto;

			&__text{
				text-decoration: none;
				color: #000;
			}
		}


		.login-button{
			display: flex;
			box-shadow: none;
			background-color: #679B9B;
			color: #fff;
			font-weight: bold;
			margin: 10px auto;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #000;
			width: 150px;

			&__text{
				text-decoration: none;
				color: #fff;
				font-weight: bold;
				margin: 0px auto;
			}
		}

		.user-register-button{
			margin: 10px auto;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #000;
			box-shadow: none;
			background-color: #F48B29;
			width: 150px;

			&__text{
				color: #fff;
				font-weight: bold;
				text-decoration: none;
			}

		}
}

.subtitle-body{
	display: flex;
	justify-content: center;
	background-color: #1B6DC1;
	margin-top: 10px;
	margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

	&__img{
		justify-content: center;
		margin: 2px 0px;
		width: 200px;
		height: 50px;
	}
}

.app-guide-body{
	display: flex;
	justify-content: center;
	background-color: #1B6DC1;
	margin-top: 10px;
	margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);

	&__title{
		color: #000;
		font-weight: 900;
		padding-top: 11px;
	}
}

.app-introduction-body{
	text-align: center;
	margin: 30px auto;

	&__text{
		color: #000;

		&--mute{
			margin-top: 30px;
			color: #9f9c9c;
		}
	}
}

.app-image-body{
	text-align: center;
	margin-top: 40px;
	position: relative;

	&__text{
		margin-top: 40px;
		color: #000;

		&--mute{
			margin-top: 40px;
			color: #9f9c9c;
		}
	}
}

.app-function-body{
	margin: 0px auto;

	// &__box{
	// 	margin: 0px auto;

	// 	&--two{
	// 		margin-top: 0px;
	// 	}
	// }
	&__content{
		margin: 100px auto 0px;
		width: 330px;
		height: 260px;
	}
	&__title{
		display: flex;
		justify-content: center;
	}
	&__image{
		width: 330px;
		height: 260px;
	}
	&__text{
		display: flex;
		justify-content: center;
		color: #808080;
		margin-top: 10px;
	}
}

.app-footer-body{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
	background-color: #7e7d7db9;

	&__text{
		padding: 10px 5px;
		color: #fff;
	}
}


/****** ユーザー登録画面 ******/
.register-body{
	margin: 10px auto;
	text-align: center;
	box-shadow: none;
	max-width: 300px;

	&__title{
		margin: 10px auto;
	}


	&__name{
		margin-top: 10px;
	}

	&__name-text{
		margin: 10px auto 0px;
	}

	&__name-form{
		margin: 0px auto;
		max-width: 250px;
	}


	&__email{
		margin-top: 10px;
	}

	&__email-text{
		margin: 10px auto 0px;
	}

	&__email-form{
		margin: 5px auto;
		max-width: 250px;
	}


	&__password{
		margin-top: 10px;
	}

	&__password-text{
		margin: 10px auto 0px;
	}

	&__password-form{
		margin: 5px auto;
		max-width: 250px;
	}

	&__password-confirmation{
		margin-top: 10px;
	}

	&__password-confirmation-text{
		margin: 10px auto 0px;
	}

	&__password-confirmation-form{
		margin: 5px auto;
		max-width: 250px;
	}


	&__user-register-button{
		margin: 10px auto 0px;
	}

	&__user-register-button-body{
		background-color:
		$update-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		width: 160px;
	}


	&__login-button{
		margin: 10px auto 0px;
	}

	&__login-button-body{
		background-color: #679B9B;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		width: 160px;
	}
}


/***トップへ戻るボタン***/
.page-top {
  position: fixed;
  right: 5px;
  bottom: 20px;
  height: 50px;
  text-decoration: none;
  font-weight: 900;
  transform: rotate(90deg);
  font-size: 90%;
  line-height: 1.5rem;
  color: #000;
  padding: 0 0 0 35px;
  border-top: solid 1px;

&::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0px;
  width: 15px;
  border-top: solid 1px;
  transform: rotate(35deg);
  transform-origin: left top;
	}
}


/****** マイページ ******/

/*** タブ ***/
.user-tabs{
	background-color: #394867;
	border-top: solid 1px #707070;
	border-right: solid 1px #707070;
	color: #5d627b;
	box-shadow: none;

	&__text{
		color: #F1F6F9;
		}
}

/*** プロフィール ***/
.user-profile-body{
	background-color: #fdffff;
	box-shadow: none;

	.profile-function-body{
		display: flex;
		align-items: center;

		&__user-icon{
			margin-right: 10px;
		}

		&__tag-button{
			padding: 5px;
			box-shadow: none;
			background-color: #BBBFCA;
			border: 1px solid #000;
		}

		&__tag-dropdown-menu{
			padding: 0;
		}

		&__tag-list{
			text-align: center;
			padding: 5px 0px;
		}

		&__edit-button{
			padding: 5px;
			box-shadow: none;
			color: #F1F6F9;
			background-color: #00587A;
			border: 1px solid #000;
		}
	}

	.profile-content-body{
		padding: 0px;

		&__name{
			margin: 2px;
		}

		&__introduction{
			margin: 8px 2px;
		}

		.profile-follow-function-body{
			margin: 2px 2px 2px 0px;
		}
	}
}

/*** プロフィール更新画面 ***/
.user-profile-edit-body{
	margin: 10px auto;
	padding: 5px 10px;
	text-align: center;
	box-shadow: none;
	background-color: #e8e8e8;
	max-width: 300px;

	&__caution-text{
		color: $delete-button-color;
	}

	&__update-button{
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		margin: 2px;
	}

	&__cancel-button{
		background-color: $cancel-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		margin: 2px;
	}
}

.user-image-edit-body{
	margin: 10px auto;
	padding: 5px 10px;
	text-align: center;
	box-shadow: none;
	background-color: #e8e8e8;
	max-width: 300px;

	&__update-button{
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		margin: 2px;
	}

	&__cancel-button{
		background-color: $cancel-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		margin: 2px;
	}
}


/*** ユーザーデータ ***/
.user-data-body{
	margin: 10px auto;

	&__title{
		padding: 5px;
		text-align: center;
		background-color: #6D8299;
		color: #fff;
	}
	&__table{
		margin-bottom: 0px;
	}
	&__header{
		background-color: #D8D3CD;
		text-align: center;
	}

	&__contents{
		background-color: #e8e8e8;
		text-align: center;
	}


		&__articles-ranking-title{
			text-align: center;
			margin-top: 20px;
			padding: 5px;
			background-color: #6D8299;
			color: #fff;
		}
		&__articles-ranking-content{
			text-align: center;
			background-color: #e8e8e8;
			padding: 12px 5px 0px;
		}

		&__news-ranking-title{
			text-align: center;
			margin-top: 20px;
			padding: 5px;
			background-color: #6D8299;
			color: #fff;
		}
		&__news-ranking-content{
			text-align: center;
			background-color: #e8e8e8;
			padding: 12px 5px 0px;
		}
}

/*** フォロー・フォロワー画面 ***/
.follow-tab-link{
	background-color: #394867;
	color:  #fff;
	border-radius: 0px;

	&:active{
		background-color: #fff;
		color: #000;
		border-radius: 0px;
	}
}

.follower-tab-link{
	background-color: #394867;
	color:  #fff;
	border-radius: 0px;

	&:active{
		background-color: #fff;
		color: #000;
		border-radius: 0px;
	}
}

/*** ユーザー一覧表示 ***/
.follow-follower-body{
	margin: 10px auto;
	box-shadow: none;
	max-width: 300px;

	&__content{
		padding: 0px 10px;
		display: flex;
		align-items: center;
	}
		&__user-icon{
			padding: 0;
			width: 55px;
			height: 55px;
		}

		&__user-name{
			padding: 0;
		}

		&__button{
			padding: 0;
			margin-left: auto;
		}
}


/****** ニュースレイアウト ******/
.news-body{
	background-color: #e8e8e8;
	border-radius: 10px;
	border: 1px solid #000;
	margin: 15px 20px;

	&__content{
		display: flex;
		margin: 10px 10px;
	}
	&__title{
		width: 70%;
		margin-right: 12%;
	}

	&__url{
		text-decoration: none;
		color: #000000;
	}

	&__thumbnail{
		width: 30%;
		width: 110px;
		height: 110px;
		object-fit: cover;
		border: none;
		border-radius: 5px;
		padding: 0px;
	}

	&__button{
		display: flex;
		margin:  0px 0px 5px 8px;
		padding: 0;
	}
	&__memo-button{
		margin-right: 5px;
	}
	&__memo-button-text{
		background-color: #4e78a1;
		color: #fff;
		border-radius: 5px;
	}

	&__quick-memo-button-text{
		background-color: #4e78a1;
		color: #fff;
		border-radius: 5px;
	}
	}


/****** headlineニュース一覧 ******/
.headline-news-index-select-menu{
	position: sticky;
	top: 110px;
	z-index: 1;

.headline-news-side-menu-body{
	display: none;
}
}


/****** covid-19ニュース一覧 ******/
.covid-news-index-select-menu{
	position: sticky;
	top: 110px;
	z-index: 1;

	.covid-news-side-menu-body{
		display: none;
	}
}


/****** セレクトボックス ******/
.select-box-body{
	display: flex;
	justify-content: center;
	background-color: #fdffff;

	.select-box {
		margin: 10px 10px;
		}

	.news-update-button-body{
		margin: 10px 10px;

		&__update-button{
			color: #fff;
			background-color: #548CA8;
			border-radius: 5px;
			border: 1px solid #000;
		}
	}
}


/****** 投稿一覧画面 ******/
.articles-index-body{
	margin: 20px 20px;
	display: flex;

	&__side-menu{
		display: none;
	}
	&__content{
		margin: 5px 0px;
	}
}


/****** 投稿レイアウト ******/
.article-body{
  margin: 10px auto;
	background-color: #e8e8e8;

	&__content{
		display: flex;
	}
		/*** 投稿 アイコン・name ***/
	&__icon-name{
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__icon{
		margin-right: 7px;
		padding: 0px;
		width: 40px;
		height: 40px;
		color: #000;
	}

	&__name{
		padding: 0px;
		color: #000;
	}

	/*** 編集・削除ドロップダウンボタン ***/
	&__dropdown-button{
		margin-left: auto;

			.dropdown-menu{
				width: 100px;
				border: 1px solid #000;

				.edit-button{
					padding: 0;
					text-align: center;
				}
				.delete-button{
					padding: 0;
					text-align: center;
					color: $delete-button-color;
				}
			}
		}

/*** 削除モーダルウィンドウ ***/
		&__modal-delete-text{
			text-align: center;
		}

		&__modal-button{
			display: flex;
			justify-content: space-between;

			&--cancel{
				box-shadow: none;
				background-color: $cancel-button-color;
				border: 1px solid #000;
				color: #fff;
			}
			&--delete{
				box-shadow: none;
				background-color: $delete-button-color;
				border: 1px solid #000;
				color: #fff;
			}
		}

/*** 投稿本文 ***/
	&__content{
		margin: 10px 0;
		padding: 0px 16px;
	}
	&__content-text{
		color: #000;
		text-decoration: none;
	}

/*** ハッシュタグ ***/
	&__hashtag{
		padding: 0px;
		margin: 5px 16px;
	}
		&__hashtag-text{
			padding: 2px;
			margin-right: 3px;
			color: #3f5752;
			border-bottom: solid 1px #3f5752;
		}

/*** ニュースリンク先 ***/
	&__news-link{
		margin: 5px 16px;
	}
		&__news-link-text{
			text-decoration: none;
			color: #5c3918;
		}

/*** 日付 ***/
	&__date{
		padding: 2px 16px;
	}

	&__twitter-link{
		margin: 7px 0px 0px 7px;
	}

	/*** コレクションボタン 非同期 ***/
	&__async-button{
		display: flex;
		margin: 0px;
		padding: 1px 12px 1px;
	}

		&__collection-button{
			display: flex;
			margin: 0px;
		}
		&__collection-add-button{
			margin: 4px 0px 0px 18px;
			padding: 0px;
		}
		&__collection-add-icon{
			color: #81c237;
		}

		&__collection-delete-button{
			margin-left: 15px;
			padding: 4px 0px 0px;
		}
		&__collection-delete-icon{
			color: $delete-button-color;
		}

/*** コレクション削除モーダル ***/
	&__collection-article-delete-text{
		text-align: center;
	}
	&__collection-modal-cancel-button{
		box-shadow: none;
		background-color: $cancel-button-color;
		border: 1px solid #000;
		color: #fff;
	}
	&__collection-modal-delete-button{
		box-shadow: none;
		background-color: $delete-button-color;
		border: 1px solid #000;
		color: #fff;
	}
}


/****** 投稿更新画面 ******/
.article-edit-body{
  margin: 10px auto;
	background-color: #fdffff;
	max-width: 300px;

	&__content{
		margin: 10px;
	}
	&__news-link{
		color: #5c3918;
	}
	&__update-button{
		display: flex;
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
		margin: 0 auto;
		}
}

/****** 投稿フォーム ******/
	.article-create-body{
		margin: 10px auto;
		max-width: 300px;

		&__content{
			padding: 0px 10px 15px;
			align-items: center;
		}
		&__news-link{
			color: #5c3918;
		}

		&__create-button{
			display: flex;
			color: #fff;
			background-color: $update-button-color;
			border: 1px solid #000;
			box-shadow: none;
			margin: 0 auto;
		}
	}


/****** 非公開メモ機能 ******/
.memo-body{
		margin: 5px 16px;

/*** メモ追加フォーム ***/
		&__create-form{
			margin: 10px 0;
		}
		&__textarea{
			resize:none;
		}
		&__memo-button-wrap{
			text-align: center;
		}
		&__memo-button{
			margin: 10px auto 0px;
			background-color:$update-button-color;
			box-shadow: none;
			color: #fff;
			width: 100px;
		}

/*** メモ編集フォーム ***/
		&__edit-form{
			margin: 10px 0;
		}
		&__update-button{
			background-color: $update-button-color;
			border: 1px solid #000;
			color: #fff;
			box-shadow: none;
			margin: 10px auto;
		}
		&__cancel-button{
			box-shadow: none;
			background-color: $cancel-button-color;
			border: 1px solid #000;
			color: #fff;
			margin: 10px auto;
		}


		&__content{
			display: flex;
			justify-content: space-between;
			padding: 0px;
			margin: 5px 0px 5px;
		}
		&__content-text{
				display: flex;
				align-items: center;
				margin: 0 10px;
			}
			&__button-list{

				.dropdown-menu{
					border: 1px solid #000;

				.memo-edit-button{
					padding: 0;
					text-align: center;
					background-color: #fff;
					color: #000;
				}
				.memo-delete-button{
					padding: 0;
					text-align: center;
					background-color: #fff;
					color: $delete-button-color;
				}
			}
		}
}


/****** コレクション機能 ******/
.collection-body-title{
	margin: 10px auto;
	text-align: center;
}
.collection-body{
margin: 10px auto;
display: block;
box-shadow: none;
max-width: 300px;

	&__content{
		display: flex;
		align-items: center;
		background-color: #EAEAEA;
		padding: 5px;
	}
	&__name{
			margin-top: 8px;
			margin-left: 6px;
			text-decoration: none!important;
			color: #000;

			&:hover{
				// text-decoration: none機能せず
				color: #000;;
			}
		}

/*** 編集・削除ドロップダウンボタン ***/
	&__edit-button{
		margin-left: auto;
	}
	&__edit-button-icon{
		margin: 5px;
		padding: 5px;
		color: #000;
	}
	.dropdown-menu{
		border: 1px solid #000;

		.edit-text{
			text-align: center;
			padding: 0;
		}

		.delete-text{
			color: $delete-button-color;
			text-align: center;
			padding: 0;
		}
	}

/*** 更新モーダルウィンドウ ***/
	&__update-modal{
		margin: 0px auto;
	}
	&__update-modal-content{
		text-align: center;
	}
	&__update-modal-text{
		margin: 5px auto;
	}
	&__update-modal-button-list{
		margin-bottom: 0px;
	}
	&__update-modal-button-content{
		justify-content: space-between;
	}
	&__cancel-button{
		box-shadow: none;
		background-color: $cancel-button-color;
		border: 1px solid #000;
		color: #fff;
	}
	&__update-button{
		box-shadow: none;
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
	}

/*** 削除モーダルウィンドウ ***/
	&__delete-modal{
		margin: 0 auto;
	}
	&__delete-modal-text{
		text-align: center;
	}
	&__delete-modal-button-content{
		display: flex;
		justify-content: space-between;
	}

	&__cancel-button{
		box-shadow: none;
		background-color: $cancel-button-color;
		border: 1px solid #000;
		color: #fff;
	}

	&__delete-button{
		box-shadow: none;
		background-color: $delete-button-color;
		border: 1px solid #000;
		color: #fff;
	}
}


/****** コレクション件数表示 ******/
	.collection-name-body{
		box-shadow: none;
		background-color: #548CA8;

		&__content{
			display: flex;
			justify-content: center;
			padding: 10px;
		}
		&__content-name{
			margin: 0;
			color: #fff;
		}
		&__content-count{
			margin: 0;
			color: #fff;
		}
}


/****** 設定画面 ******/
.setting-body{
	margin: 10px auto 0px;
	max-width: 300px;
	background-color: #e8e8e8;

	&__title{
		background-color: #87A8A4;
	}

	&__link{
		padding: 10px;
		background-color: #e8e8e8;
	}
}


/****** パスワード変更画面 ******/
.password-reset-body{
	margin: 10px auto;
	background-color: #e8e8e8;

	&__content{
		margin: 0 auto;
	}
	&__from{
		max-width: 300px;
  }
	&__edit-button{
		background-color: $update-button-color;
		margin-bottom: 0;
		padding: 2px 10px;
		border: 1px solid #000;
		color: #fff;
		box-shadow: none;
	}
}

/****** パスワードリセットメール画面 ******/
.password-reset-email-body{
	margin: 10px auto;
	text-align: center;
	box-shadow: none;
	max-width: 300px;

	&__title{
		text-align: center;
	}

	&__text{
		margin: 10px auto;
	}

	&__form{
		margin: 0 auto;
		max-width: 300px;
	}

	&__submit-button{
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		margin: 0 auto;
		box-shadow: none;
		width: 150px;
	}
}

/****** 新しいパスワード設定画面 ******/
.password-reset-body{
	margin: 10px auto;
	text-align: center;
	box-shadow: none;
	max-width: 300px;

	&__title{
		text-align: center;
	}

	&__text{
		text-align: center;
	}

	&__from{
		margin: 0 auto;
		max-width: 300px;
	}

	&__submit-button{
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		margin: 0 auto;
		box-shadow: none;
		width: 150px;
	}
}


/****** お問い合わせ内容入力画面 ******/
.contact-form-body{
	margin: 10px auto;
	box-shadow: none;
	max-width: 300px;

	&__title{
		margin: 10px auto 20px;
	}

	&__radio-button{
		margin: 10px auto;
	}

	&__select-bar{
		margin: 10px auto;
	}

	&__email-form{
		margin: 20px auto;
	}

	&__content-form{
		margin: 20px auto;
	}

	&__form-button{
		background-color: $update-button-color;
		border: 1px solid #000;
		box-shadow: none;
		color: #fff;
		max-width: 200px;
		text-align: center;
	}
}

/****** お問い合わせ内容確認画面 ******/
.confirm-body{
	margin: 10px auto;
	box-shadow: none;
	max-width: 300px;

	&__content{
		text-align: center;
	}
		&__content-title{
			margin: 10px auto;
			text-align: center;
		}

		&__content-list{
			margin: 10px auto;
		}
		&__content-item{
			margin: 20px auto;
		}
		&__content-text{
			background-color: #DF2E2E;
			color: #fff;
			padding: 1px 2px;
			margin-left: 5px;
			border-radius: 3px;
		}



		&__button-list{
			margin: 0 auto;
		}
			&__cancel-button{
				box-shadow: none;
				background-color: $cancel-button-color;
				border: 1px solid #000;
				color: #fff;
			}

			&__submit-button{
				box-shadow: none;
				background-color: $update-button-color;
				border: 1px solid #000;
				color: #fff;
			}
}


/****** お問い合わせ完了画面 ******/
.complete-body{
	margin: 10px auto;
	text-align: center;
	box-shadow:none;
	border: none;
	max-width: 300px;

	&__header{
		background-color: #87A8A4;
	}

	&__complete-button{
		box-shadow: none;
		background-color: $update-button-color;
		border: 1px solid #000;
		color: #fff;
		margin: 20px auto 0px;
	}
}


/****** ページネーション ******/
.pagination-body{
	margin: 0 auto;

	&__content{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__previous-button{
		margin: 5px;
	}

	&__link-button{
		margin: 5px;
	}
	&__link-button-content{
		padding: 5px;
		box-shadow: none;
	}
	&__next-button{
		margin: 5px;
	}

}


/****** エラーページ ******/
.error-page-body{
	margin: 10px;
	text-align: center;

	&__header{
		background-color: #00587A;
		color: #fff;
	}
	&__button{
		box-shadow: none;
		background-color: $update-button-color;
		border: 2px solid #000;
		color: #fff;
	}
}
